.literature-analysis-content {
    width: 100%;
    border-top: 1px solid #ebebeb;
    background-color: #ffffff;
    padding: 40px 0px;
}


.row-literature-analysis-content {
    flex-direction: column;
}

.literature-analysis-content-text {
    color: #262f3c;
    font-size: 17px;
    margin-bottom: 20px;
}

.literature-analysis-content-title {
    text-align: center;
    color: #262f3c;
    font-size: 18px;
    margin-bottom: 15px;
}

.literature-analysis-content-img-image {
    max-width: 80%;
    max-height: 300px;
}

.literature-analysis-content-img {
    display: flex;
    justify-content: center;
}

.literature-analysis-content-img-image {
    margin-bottom: 20px;
}

.literature-analysis-content-text-link {
    color: #dc3545;
}

.literature-analysis-content-text-link-download {
    margin-top: 15px;
}

@media (max-width: 600px) {
    .literature-analysis-content-text {
        font-size: 15px;
    }
    .literature-analysis-content-title {
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .literature-analysis-content-img-image {
        max-width: 100%;
    }
}