.planned-monographs-content {
    width: 100%;
    border-top: 1px solid #ebebeb;
    background-color: #ffffff;
    padding: 40px 0px;
}

.planned-monographs-content-title {
    font-size: 20px;
    line-height: 1.16981;
    letter-spacing: 0;
    font-family: Muli, sans-serif;
    font-weight: 300;
    color: #262f3c;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 20px;
}

.row-planned-monographs-content {
    flex-direction: column;
}

.planned-monographs-contentх-text {
    font-size: 16px;
}
